.createevent-container {
  padding: 20px;
  background-color: #f8f9fa;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.createevent-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.createevent-container input {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createevent-container button {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createevent-container button:hover {
  background-color: #0056b3;
}
