footer {
  font-size: 8px;
  color: #fff;
  clear: both;
  display: block;
  letter-spacing: 5px;
  border: 1px solid #fff;
  padding: 5px;
  text-decoration: none;
  width: 210px;
  margin: auto;
  background-color: whitesmoke;
  padding-top: 20px;
}
